.table {
  border-radius: 5px;
  border: 1px solid rgb(131, 125, 125);
  border-collapse: collapse;
}

.cell {
  padding: 4px;
  width: 150px;
  border: 1px solid rgb(111, 109, 112);
  text-align: center;
}

.head {
  background-color: rgb(115, 229, 233);
}
.row:nth-child(2n) {
  background-color: rgb(195, 194, 197);
}
